Jonas Richiardi <jonas.richiardi@chuv.ch>  jonasrichiardi <jonas.richiardi@chuv.ch>
Jonathan Rafael Patiño <jonhrafe@gmail.com>  Jonathan Rafael-Patino <jonhrafe@gmail.com>  jonhrafe <jonhrafe@gmail.com>
Augustin Ogier <augustin.ogier@gmail.com>
Sebastien Tourbier <sebastien.tourbier1@gmail.com>  Sébastien Tourbier <sebastien.tourbier1@gmail.com>